@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

#results {
  position: absolute;
  top: 20;
  left: 20;
  width: 30%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
}
#results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#results ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}
#results ul li:hover {
  color: gray;
}
#results ul li:last-child {
  border-bottom-width: 0;
}

.mapboxgl-ctrl-geocoder {
  background: blue;
  font-size: 22px;
}
