<section class="">
  <div class=" mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center ">
    <div class="mx-auto text-center">
      <h1 class="font-bold text-8xl sm:text-6xl sm:leading-tight">
        <p>Share Your Location.</p>
        <p>Not Your Idendity.</p>
      </h1>

      <%= image_tag "hero.png", class: "mx-auto max-w-2xl mt-4 sm:text-2xl/relaxed" %>

      <p class="mx-auto max-w-2xl mt-4 sm:text-2xl/relaxed">
        Use Anonymous Location to share your position with anyone, over any
        channel. In real-time.
      </p>
    </div>
  </div>
</section>
