<section class="">
  <div
    class="
      mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center
    "
  >
    <div class="mx-auto text-center">
      <h1 class="font-semibold text-4xl sm:text-6xl sm:leading-tight">
        Anonymous Location
      </h1>

      <p class="mx-auto max-w-2xl mt-4 sm:text-xl/relaxed">
        Where are you. I am here. Avoid conversations like these. Share you
        location with anyone, without sharing your identity.
      </p>
    </div>
  </div>
</section>
