<section class="">
  <div class=" mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center ">
    <div class="mx-auto text-center">
      <h1 class="font-semibold text-6xl sm:text-6xl sm:leading-tight">
        Anonymous Location
      </h1>

      <p class="mx-auto max-w-2xl mt-4 sm:text-2xl/relaxed">
        Share your location, don't share your identity, with anyone. In
        realtime.
      </p>
    </div>
  </div>
</section>

<section>
  <div id="map" data-controller="maps">
    <div data-maps-target="mapContainer" class="w-auto h-screen"></div>
  </div>
</section>
