<section
  id="privacy"
  class="prose container mx-auto max-w-screen-xl pt-16 px-4"
>
  <h2><strong>Privacy Policy</strong></h2>
  <p>
    This app collects no private data, period. Your data will not be used in
    any way, because we won't have it.
  </p>
</section>
