<div class="w-full h-full grid place-content-center gap-4 bg-white">
  <h1 class="uppercase tracking-widest font-semibold text-gray-700">Location Expired</h1>
  <%= link_to "New Location",
  new_location_path,
  class:
    "shadow rounded py-2 px-3 bg-gray-100 border-gray-500 cursor-pointer justify-center items-center text-center" %>
</div>
