<div
  id="flash"
  class="fixed top-3 left-1/2 transform -translate-x-1/2 w-max z-50"
>
  <% if flash.any? %>
    <div
      class='
        flex flex-col items-end justify-end gap-4 max-w-80 md:max-w-full text-center
      '
    >
      <% flash.each do |flash_type, message| %>
        <div
          data-controller="remove"
          data-action="animationend->remove#remove"
          class="
            flash-message border <%= flash_classes(flash_type.to_sym) %> p-2 rounded
          "
          role="alert"
        >
          <span class="block px-5">
            <%= message %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
