<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="h-screen flex flex-col text-gray-800 bg-blue-100">
    <main class="flex-grow">
      <%= yield %>
    </main>
  </body>
</html>
